body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

/************ Response JSON – For Dark and High Constrast themes *****/
.json-key {
    color: #89d0d4;
}

.json-number {
    color: #d8d842;
}

.json-string {
    color: var(--vscode-editor-foreground);
}

.json-boolean {
    color: #3fcc27;
}

/************ Response JSON – For Light theme *****/
.vscode-light .json-key {
    color: #0045e4;
}

.vscode-light .json-number {
    color: #c1318e;
}

.vscode-light .json-boolean {
    color: #2fa20b;
}

/************************************************************/

.monospace {
    font-family: var(--vscode-editor-font-family);
}
