body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.monospace {
    font-family: input, menlo, lucida console, monospace;
}

.header-label {
    color: #f16f6f;
}

.header-div {
    line-height: 80%;
    margin-top: 40px;
}

.base-url {
    color: #5baeff;
}

textarea {
    width: 98%;
    max-width: 800px;
    min-width: 400px;
    height: 700px;
    min-height: 400px;
    max-height: 700px;
    font-size: var(--vscode-font-size);
    background-color: transparent;
    color: var(--vscode-editor-foreground);
    line-height: 18px;
    letter-spacing: 0.05rem;
    padding: 5px;
    border: var(--vscode-input-border);
}

textarea:focus {
    outline-color: transparent;
}

.btn-copy,
.btn-save {
    width: 60px;
    height: 100%;
    margin: 10px 0 8px 0;
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border-radius: 2px;
    padding: 5px 0 5px 0;
    border-color: var(--vscode-button-background);
}

.btn-copy:hover,
.btn-save:hover {
    background-color: var(--vscode-button-hoverBackground);
    cursor: pointer;
}

.btn-generate-code-snippet {
    float: right;
    width: 160px;
    height: 100%;
    margin: 2px 0 8px 0;
    background-color: var(--vscode-button-background);
    color: var(--vscode-editor-foreground);
    border-radius: 2px;
    padding: 5px 0 5px 0;
    border-color: var(--vscode-button-background);
}

.btn-generate-code-snippet:hover {
    background-color: var(--vscode-button-hoverBackground);
    cursor: pointer;
}

.action-buttons-div {
    float: right;
}

.json-key {
    color: #89d0d4;
}

.json-number {
    color: #d8d842;
}

.json-string {
    color: var(--vscode-editor-foreground);
}

.json-boolean {
    color: #3fcc27;
}

.res-body {
    margin-top: 30px;
}

.resppnse-body {
    line-height: 150%;
}

.request-url-label {
    color: #daa520;
}

.response-html {
    margin-top: 10px;
}

.request-url-table {
    width: 100%;
}

#icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#icons .icon {
    width: 140px;
    padding: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#icons .icon .codicon {
    font-size: 32px;
    padding-bottom: 16px;
}
